%hml
  %head
    %title Salaries
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - if user_signed_in?
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            = link_to 'Application', root_path, class: 'navbar-brand'
          %ul.nav.navbar-nav
            %li= link_to 'Main page', '#'
            %li= link_to 'Payments', salaries_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Logout (#{current_user.email})", destroy_user_session_path, method: :delete

    .container
      .row
        .col-lg-12
          - if notice
            .alert.alert-info= notice

      .row
        .col-lg-12
          = yield